*.sdf
*.suo
*.opensdf
*.user
*.depend
*.layout
*.o
*.db
*.obj
*.pdb
*.idb
*.tlog
*.opendb
Bin/Lib/
Bin/Runtime/
Code/3rdparty/tinyxml2/tinyxml2/Debugx86
Code/3rdparty/tinyxml2/tinyxml2/Debugx64
Code/Core/Debugx86
Code/Core/Debugx64
Code/Engine/Debugx86
Code/Engine/Debugx64
Test/WICore_Test/Debugx86
Test/WICore_Test/Debugx64
Test/WIEngineTest/Debugx86
Test/WIEngineTest/Debugx64
Code/RendererGL/Debugx86
Code/RendererGL/Debugx64