*.sdf
*.suo
*.opensdf
*.user
*.depend
*.layout
*.o
*.db
*.obj
*.pdb
*.idb
*.tlog
Bin/Lib/
Bin/Runtime/
Code/3rdparty/tinyxml2/tinyxml2/Debugx86
Code/3rdparty/tinyxml2/tinyxml2/Debugx64
Code/Core/Debugx86
Code/Core/Debugx64
Code/WingEngine/Debugx86
Code/WingEngine/Debugx64
Test/WICore_Test/Debugx86
Test/WICore_Test/Debugx64